{% extends "layout/adminBase.html" %}
{% block style_sheet %}
<link rel="stylesheet" href="[[ url_for('static', filename='css/admin/add.css') ]]">
{% endblock %}
{% block content %}
<main class="admin-content" id="app" data-current-page="[[ current_type ]]">
  <div class="page-title">
    <h1>美食巡禮新增</h1>
  </div>

  <div class="dashboard-card">
    <form @submit.prevent="storeData" enctype="multipart/form-data">
      <table class="table table-borderless">
        <tr>
          <th class="col-3">標題</th>
          <td class="col-9">
            <input type="text" class="form-control" :class="{'is-invalid':titleInvalid}" @blur="titleWatch"
              v-model="title" required>
            <div class="invalid-feedback">此為必要欄位</div>
          </td>
        </tr>
        <tr>
          <th class="col-3">內容</th>
          <td class="col-9">
            <div :class="{'is-invalid':contentInvalid}">
              <textarea id="editor"></textarea>
            </div>
            <div class="invalid-feedback">此為必要欄位</div>
          </td>
        </tr>
        <tr>
          <th class="col-3">郵遞區號</th>
          <td class="col-9">
            <input type="text" class="form-control" :class="{'is-invalid':postalCodeInvalid}" @blur="postalCodeWatch"
              v-model="postalCode">
            <div class="invalid-feedback">郵遞區號為3、5或6碼數字</div>
          </td>
        </tr>
        <tr>
          <th class="col-3">城市</th>
          <td class="col-9">
            <input type="text" class="form-control" v-model="city">
          </td>
        </tr>
        <tr>
          <th class="col-3">鄉鎮</th>
          <td class="col-9">
            <input type="text" class="form-control" v-model="district">
          </td>
        </tr>
        <tr>
          <th class="col-3">地址</th>
          <td class="col-9">
            <input type="text" class="form-control" v-model="address">
          </td>
        </tr>
        <tr>
          <th class="col-3">電話1</th>
          <td class="col-9">
            <input type="text" class="form-control" :class="{'is-invalid':phone1Invalid}" @blur="phone1Watch" v-model="phone1">
            <div class="invalid-feedback">必須符合電話格式</div>
          </td>
        </tr>
        <tr>
          <th class="col-3">電話2</th>
          <td class="col-9">
            <input type="text" class="form-control" :class="{'is-invalid':phone2Invalid}" @blur="phone2Watch" v-model="phone2">
            <div class="invalid-feedback">必須符合電話格式</div>
          </td>
        </tr>
        <tr>
          <th class="col-3">服務設施</th>
          <td class="col-9">
            <input type="text" class="form-control" v-model="facilities">
          </td>
        </tr>
        <tr>
          <th class="col-3">主題分類</th>
          <td class="col-9">
            <table class="table table-borderless">
              <tr v-for="(item, index) in topic" :key="index">
                <td>
                  <input type="text" class="form-control" v-model="topic[index]">
                </td>
                <td>
                  <div class="btn btn-danger" @click="deleteTopic(index)">
                    刪除
                  </div>
                </td>
              </tr>
            </table>

            <div class="btn btn-info btn-sm" @click="addTopic">
              新增分類
            </div>
          </td>
        </tr>
        <tr>
          <th class="col-3">圖檔</th>
          <td class="col-9">
            <input type="file" class="form-control" name="image" accept="image/jpeg, image/png" multiple
              @change="handleFileChange">
          </td>
        </tr>
      </table>
      <div class="d-flex align-content-end">
        <input type="submit" class="btn btn-success">
      </div>
    </form>
  </div>
</main>
{% endblock %}
{% block page_script %}
<script src="[[ url_for('static', filename='js/ckeditor.js') ]]"></script>
<script src="[[ url_for('static', filename='js/admin/food_add.js') ]]"></script>
{% endblock %}