<!-- =====================================================
  Footer
====================================================== -->

<footer>
  <div class="container">
    <div class="row g-4 mt-3">
      <!-- Logo -->
      <div class="col-lg-4">
        <div class="footer-brand d-flex align-items-center gap-1">
          <img src="[[ url_for('static', filename='image/Logo_S.png') ]]" alt="Logo">

          <strong>
            台中旅遊
          </strong>
        </div>
        <p>
          台中市政府觀光旅遊局<br>
          提供完整的台中旅遊、景點、美食、住宿與交通資訊。
        </p>

        <div class="social-icons">

          <a href="#">
            <i class="bi bi-facebook"></i>
          </a>

          <a href="#">
            <i class="bi bi-instagram"></i>
          </a>

          <a href="#">
            <i class="bi bi-youtube"></i>
          </a>

          <a href="#">
            <i class="bi bi-line"></i>
          </a>

        </div>

      </div>


      <div class="col-6 col-lg-2">

        <div class="footer-title">
          景點資訊
        </div>

        <div class="footer-links">

          <a href="#">熱門景點</a>
          <a href="#">自然生態</a>
          <a href="#">文化景觀</a>
          <a href="#">親子旅遊</a>

        </div>

      </div>


      <div class="col-6 col-lg-2">

        <div class="footer-title">
          美食推薦
        </div>

        <div class="footer-links">

          <a href="#">在地小吃</a>
          <a href="#">特色餐廳</a>
          <a href="#">夜市美食</a>
          <a href="#">伴手禮</a>

        </div>

      </div>


      <div class="col-6 col-lg-2">

        <div class="footer-title">
          住宿資訊
        </div>

        <div class="footer-links">

          <a href="#">飯店</a>
          <a href="#">民宿</a>
          <a href="#">親子住宿</a>
          <a href="#">住宿推薦</a>

        </div>

      </div>


      <div class="col-6 col-lg-2">

        <div class="footer-title">
          相關資訊
        </div>

        <div class="footer-links">

          <a href="#">交通資訊</a>
          <a href="#">最新消息</a>
          <a href="#">網站導覽</a>
          <a href="#">聯絡我們</a>

        </div>

      </div>

    </div>


    <div class="copyright">

      © 2026 台中市政府觀光旅遊局　All Rights Reserved.

    </div>

  </div>

</footer>